<form id="update-user">
  Trainer Name:<br>
  <input type="text" name="trainer_name" value="{{user.trainer_name}}"><br><br>
  Team:<br>
   <select name="Team">
     {{#each team}}
       <option>{{team_name}}</option>
     {{/each}}
   </select><br>
  <button onclick="updateUser({{user.id}})" class="button"> Submit </button>
</form>
