<form id="update-discord">
  Discord Name:<br>
  <input type="text" name="discord_name" value="{{discord.discord_name}}"><br><br>

  <button onclick="updateDiscord({{discord.id}})" class="button"> Submit </button>
</form>
